        /* variáveis css são declradas no elemento :root{} */
        /* Nome de variável css deve iniciar com dois hífens */
        /* Usar letras minúsculas e sem acentuar */
        /* Nomes compostos deve estar separados por hífen */
        :root 
        {

            --color-red: rgb(106, 32, 32);
            --color-white: rgb(255, 255, 255);
            --color-lilas:  rgb(111, 7, 230);
            --color-darkpurple:  rgb(68, 53, 77); 
            --color-black:  rgb(0, 0, 0);
            --radius-sm: 8px; 
            --radius-full: 100%;
            --spacing-10: 10px;
            --spacing-20: 20px;
            --spacing-30: 3px;   

        }

        /* Reset CSS */

        *
        {

            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        /* Definindo a cor de fundo para a página */

        body 
        {

            background-color: var(--color-black);
            font-family: "Momo Signature", cursive;

        }

        /* Definindo padrões que seram usados na div */
        /* Conceitos de herança: filhos herdam algumas propriedades do pai */
        /* Se o filho tiver uma propriedade com o valor definido, prevalece a formatação do filho */

        .container
        {

            background-color: var(--color-darkpurple);
            color: var(--color-white);
            width: 750px;
            text-align: center;
            border-radius: var(--radius-sm);
            padding: var(--spacing-20);
            margin: var(--spacing-20) auto ;

        }

        .container img
        {

            border-radius: var(--radius-full);
            border: 5px dashed var(--color-black);
            scale: 1;   
            transition: .5s;
            width: 500px;
            
            

        }

        .container:hover img 
        {

            border: 5px solid var(--color-red);
            scale: 1.05;


        }

        .container h1
        {

            font-size: 35px;
            font-weight: 400;
            margin-block: var(--spacing-20);

        }

        /* eifeito cascata: a formatação que estiver mais abaixo é a que prevalece */

        .container h2
        {

            color: var(--color-red);
            font-size: 26px;
            font-weight: 200;
            margin-bottom: var(--spacing-10);

        }

        .container p
        {

            font-size: 13px;
            font-weight: 200;
            margin-bottom: var(--spacing-10);

        }

        /* Formatando os links de rede social */

        .social
        {

            list-style: none;

        }

        .social li
        {

            background-color: var(--color-lilas);
            margin-block: var(--spacing-10);
            padding-block: var(--spacing-10);
            border-radius: var(--radius-sm);
            transition: .5s;

        }

        .social li:hover
        {

            background-color: var(--color-red);


        }

        .social a
        {

            color: var(--color-black);
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 1px;
            width: 100%;
            display: block;

        }

